BREVO_API_KEY=your_brevo_api_key_here
BREVO_LIST_ID=your_list_id_here
SUPABASE_URL=https://tmfnumgydxratmoufbje.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRtZm51bWd5ZHhyYXRtb3VmYmplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5OTI0NjYsImV4cCI6MjA4OTU2ODQ2Nn0.s-Di4wngt9NarxFcdPrO1b1f4S9DuT5YNjKtPiRkuo4